.board-modal-wrapper {
    width: 304px;
    min-width: 304px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;
    align-items: center;
    gap: 15px;
}

.board-modal-header {
    width: 100%;
    text-align: center;
    color: #44546F;
    font-weight: 600;
    font-size: 14px;
    margin-top: 3px;
}

.board-preview {
    border-radius: 4px;
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    box-shadow: 0px 1px 3px #aaa;
}

.board-preview>img {
    height: 85%;
}

.board-modal-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #44546F;
    font-size: 12px;
    font-weight: 700;
}

.board-modal-form>label {
    color: #44546F;
    font-size: 12px;
    font-weight: 700;
    box-sizing: border-box;
}

.board-modal-form>label>input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #D5D9E0;
    border-radius: 3px;
    height: 36px;
    padding: 10px;
    font-size: 14px;
    color: #172B4E;
    margin-top: 5px;
}

.board-modal-form>label>input:hover {
    background-color: #F7F8F9;
}

.board-modal-form>label>textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #D5D9E0;
    border-radius: 3px;
    height: 36px;
    min-height: 36px;
    padding: 10px;
    font-size: 14px;
    color: #172B4E;
    margin-top: 5px;
}

.board-modal-form>label>textarea:hover {
    background-color: #F7F8F9;
}

.board-creation-themes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    margin-bottom: 10px;
}

.theme-select-button {
    width: 64px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.darken {
    background-color: black;
    width: 100px;
    height: 100px;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
}

.darken:hover {
    opacity: 10%;
}

.darken:active {
    opacity: 20%;
}

.board-title-wrapper {
    display: flex;
}

.board-visibility-wrapper {
    display: flex;
    align-items: start;
    width: 100%;
}

.public,
.private {
    width: 50%;
    height: 36px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #172B4E;
    padding: 5px;
}

.public {
    border: 2px solid #D5D9E0;
    border-radius: 3px 0px 0px 3px;
}

.private {
    border-top: 2px solid #D5D9E0;
    border-bottom: 2px solid #D5D9E0;
    border-right: 2px solid #D5D9E0;
    border-left: none;
    border-radius: 0px 3px 3px 0px;
}

.public>span,
.private>span {
    font-size: 14px;
    font-weight: 500;
}

.public>div,
.private>div {
    font-size: 10px;
    font-weight: 500;
    text-align: left;
}

.public:hover,
.private:hover {
    background-color: #F7F8F9;
}

.public-active {
    background-color: #0A66E4;
    color: white;
}

.public-active:hover {
    background-color: #0A66E4;
}

.board-modal-submit {
    border: none;
    color: white;
    background-color: #0A66E4;
    height: 32px;
    border-radius: 3px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.board-modal-submit:hover {
    background-color: #0055CC;
}

.board-modal-submit:active {
    background-color: #004db9;
}

.board-modal-submit:disabled {
    cursor: default;
    background-color: #aaa;
}

.delete-board {
    border: none;
    color: white;
    background-color: #0A66E4;
    height: 32px;
    border-radius: 3px;
    margin-top: 0px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
    background-color: #dc2049;
}

.delete-board:hover {
    background-color: #ca1e43;
}

.delete-board:active {
    background-color: #b31b3c;
}