.logged-out-page-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.footer {
    height: 30px;
    background-color: #172B4E;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    gap: 8px;
}

.footer>a {
    color: white;
    text-decoration: none;
}

.footer>a:hover {
    text-decoration: underline;
}

.logged-out-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.login-page-button,
.signup-page-button,
.demo-user-button {
    width: 272px;
    height: 36px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.login-page-button,
.demo-user-button {
    background-color: #0A66E4;
    color: white;
    border: none;
}

.login-page-button:hover,
.demo-user-button:hover {
    background-color: #0055CC;
}

.login-page-button:active,
.demo-user-button:active {
    background-color: #004cb6;
}

.signup-page-button {
    color: black;
    box-sizing: border-box;
    border: 2px solid#0A66E4;
    background-color: white;
}

.signup-page-button:hover {
    box-shadow: 0px 0px 5px #aaa;
}

.signup-page-button:active {
    background-color: #F6F6F7;
}

.divider {
    width: 272px;
    border-bottom: 1px solid #aaa;
}