.list {
    border: 1px solid black;
    height: fit-content;
    width: 200px;
}

.card {
    border: 1px solid gray;
    background-color: white;
}

.board-page-content {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    border: 1px solid green;
    box-sizing: border-box;
    overflow-x: scroll;
}

.lists-wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
}

.list {
    margin: 10px;
}

.list-name {
    height: 30px;
    font-size: 20px;
}

.cards-wrapper {
    min-height: 50px;
}

.card-dragging {
    background-color: #ddd;
    transform: rotate(10deg);
    opacity: 90%;
}