.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgb(200 200 200 / 50%);
}

.profile-dropdown {
  position: absolute;
  right: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px #aaa;
  border-radius: 5px;
  padding: 0px;
  list-style: none;
  color: #172B4E;
  overflow: hidden;
  z-index: 5;
}

.profile-dropdown>li {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

.profile-dropdown>li>a,
.profile-dropdown>li>button,
.profile-dropdown>li>div {
  padding: 10px 40px 10px 15px;
  margin: 0;
  text-decoration: none;
  color: inherit;
  min-width: 100%;
  background-color: white;
  border: none;
  text-align: left;
  font-size: 14px;
}

.profile-dropdown>li>button {
  cursor: pointer;
}

.profile-dropdown>li>a {
  border-bottom: 1px solid #aaa;
}

.profile-dropdown>li>button:hover,
.profile-dropdown>li>a:hover {
  background-color: #EBEBEB;
}

.profile-dropdown>li>a>i {
  margin-right: 8px;
}


.home-link {
  display: flex;
  align-items: center;
}

.site-logo {
  height: 44px;
}

.top-navbar-rhs-wrapper>button {
  border-radius: 20px;
  border: none;
  height: 36px;
  width: 36px;
  background-color: #FF991F;
  cursor: pointer;
  font-size: 12px;
  box-sizing: border-box;
  background-clip: padding-box;
  border: 5px solid rgb(200 200 200 / 0%);
}

.top-navbar-rhs-wrapper>button:hover {
  border: 5px solid rgb(200 200 200 / 50%);
}