.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  border: 1px solid rgb(200 200 200 / 50%);
}

.profile-dropdown {
  position: absolute;
  top: 36px;
  right: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px #aaa;
  border-radius: 3px;
  padding: 0px;
  list-style: none;
  color: #172B4E;
  overflow: hidden;
  z-index: 5;
}

.profile-dropdown>li {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

.profile-dropdown>li>a,
.profile-dropdown>li>button,
.profile-dropdown>li>div {
  padding: 10px 40px 10px 15px;
  margin: 0;
  text-decoration: none;
  color: inherit;
  min-width: 100%;
  background-color: white;
  border: none;
  text-align: left;
  font-size: 14px;
}

.profile-dropdown>li>button {
  cursor: pointer;
}

.profile-dropdown>li>a {
  border-bottom: 1px solid #aaa;
}

.profile-dropdown>li>button:hover,
.profile-dropdown>li>a:hover {
  background-color: #F4F4F4;
}

.profile-dropdown>li>button:active,
.profile-dropdown>li>a:active {
  background-color: #EBEBEB;
}

.profile-dropdown>li>a>i {
  margin-right: 8px;
}


.home-link {
  display: flex;
  align-items: center;
}

.site-logo {
  height: 44px;
}

.top-navbar-rhs-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.profile-button-wrapper {
  height: 100%;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-button-wrapper>div {
  border-radius: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: all 0.1s;
  overflow: hidden;
}

.profile-button-wrapper>div:hover {
  border: 5px solid rgba(150, 150, 150, .5);
}

.profile-button-wrapper>div:active {
  border: 5px solid rgba(150, 150, 150, .7);
}

.navbar-profile-image {
  height: 100%;
  border-radius: 20px;
}

.login-signup-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.login-navigation {
  margin-right: 10px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #172B4E;
  color: white;
  height: 32px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.login-navigation:hover {
  background-image: linear-gradient(rgb(255 255 255 / 12%) 0 0);
}

.login-navigation:active {
  background-image: linear-gradient(rgb(255 255 255 / 24%) 0 0);
}

.signup-navigation {
  margin-right: 10px;
  text-decoration: none;
  color: #172B4E;
  border: 2px solid #172B4E;
  box-sizing: border-box;
  border-radius: 5px;
  height: 32px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.signup-navigation:hover {
  background-image: linear-gradient(rgb(0 0 0 / 5%) 0 0);
}

.signup-navigation:active {
  background-image: linear-gradient(rgb(0 0 0 / 10%) 0 0);
}