.profile-dropdown {
  position: absolute;
  right: 10px;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}